.nav {
    grid-area: n;
    background-color: lightgrey;
    padding: 20px;
}

.item a {
    color: darkslategrey;
    text-decoration: none;

}

.item a:hover{
    color: #53d690;
}

.item a:active{
    color:#e44d3a;
}

.item a.activeLink {
    color: #53d690;
}