.descriptionBlock {
    padding: 10px;
}

.mainPhoto{
    max-width: 200px;
    padding-bottom: 20px;
}

.my {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label {
    /*width: 180px;*/
    /*height: 50px;*/
    /*border-radius: 4px;*/
    text-align: center;
    cursor: pointer;
    /*display: block;*/
    font: 14px/50px Tahoma;
    transition: all 0.18s ease-in-out;
    /*border: 1px solid #333;*/
    /*color: #333;*/
    width: 200px;
    height: 30px;
    color: #f2f2f2;
    background-color: #e44d3a;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.label:hover {
    color: white;
    background: #53d690;
}

.flexBoxForInput{
    display: flex;
    flex-direction: row;
}

.inputBox{
    color: #172c2c;
}
.input{
    border-radius: 2px;
    background-color: #f2f2f2;
    min-width: 200px;
    border-bottom: #e44d3a 2px solid;
    cursor: pointer;
}
.input:hover{
background-color: lightgrey;
    transition: .3s;
}

.contact{
    padding-left: 10px;
}

.contactsBox{
    border-radius: 2px;
    background-color: #f2f2f2;
    min-width: 200px;
    border-bottom: #e44d3a 2px solid;
    color:darkslategrey;
    cursor: pointer;
}
.contactsBox:hover{
    background-color: lightgrey;
    transition: .3s;
}

.b{
   color: darkslategrey;
}

.word{
    color: #172c2c;
}

.error{
    color:#e44d3a;
}